<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isleqi.graduationproject.dao.mappers.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.isleqi.graduationproject.domain.Question" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ques_title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ques_des" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ques_user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="quesd_user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.isleqi.graduationproject.domain.Question" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ques_title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ques_des" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ques_user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="quesd_user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ques_tag_ids" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, ques_title, ques_des, ques_user_id, quesd_user_id
  </sql>
  <sql id="Blob_Column_List" >
    ques_tag_ids
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.isleqi.graduationproject.domain.Question" >
    insert into question (id, ques_title, ques_des, 
      ques_user_id, quesd_user_id, ques_tag_ids
      )
    values (#{id,jdbcType=INTEGER}, #{quesTitle,jdbcType=VARCHAR}, #{quesDes,jdbcType=VARCHAR}, 
      #{quesUserId,jdbcType=INTEGER}, #{quesdUserId,jdbcType=INTEGER}, #{quesTagIds,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.isleqi.graduationproject.domain.Question" >
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="quesTitle != null" >
        ques_title,
      </if>
      <if test="quesDes != null" >
        ques_des,
      </if>
      <if test="quesUserId != null" >
        ques_user_id,
      </if>
      <if test="quesdUserId != null" >
        quesd_user_id,
      </if>
      <if test="quesTagIds != null" >
        ques_tag_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="quesTitle != null" >
        #{quesTitle,jdbcType=VARCHAR},
      </if>
      <if test="quesDes != null" >
        #{quesDes,jdbcType=VARCHAR},
      </if>
      <if test="quesUserId != null" >
        #{quesUserId,jdbcType=INTEGER},
      </if>
      <if test="quesdUserId != null" >
        #{quesdUserId,jdbcType=INTEGER},
      </if>
      <if test="quesTagIds != null" >
        #{quesTagIds,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.isleqi.graduationproject.domain.Question" >
    update question
    <set >
      <if test="quesTitle != null" >
        ques_title = #{quesTitle,jdbcType=VARCHAR},
      </if>
      <if test="quesDes != null" >
        ques_des = #{quesDes,jdbcType=VARCHAR},
      </if>
      <if test="quesUserId != null" >
        ques_user_id = #{quesUserId,jdbcType=INTEGER},
      </if>
      <if test="quesdUserId != null" >
        quesd_user_id = #{quesdUserId,jdbcType=INTEGER},
      </if>
      <if test="quesTagIds != null" >
        ques_tag_ids = #{quesTagIds,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.isleqi.graduationproject.domain.Question" >
    update question
    set ques_title = #{quesTitle,jdbcType=VARCHAR},
      ques_des = #{quesDes,jdbcType=VARCHAR},
      ques_user_id = #{quesUserId,jdbcType=INTEGER},
      quesd_user_id = #{quesdUserId,jdbcType=INTEGER},
      ques_tag_ids = #{quesTagIds,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isleqi.graduationproject.domain.Question" >
    update question
    set ques_title = #{quesTitle,jdbcType=VARCHAR},
      ques_des = #{quesDes,jdbcType=VARCHAR},
      ques_user_id = #{quesUserId,jdbcType=INTEGER},
      quesd_user_id = #{quesdUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>