<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isleqi.graduationproject.dao.mappers.QuestionMapper" >

  <resultMap id="BaseResultMap" type="com.isleqi.graduationproject.domain.Question" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ques_title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ques_des" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ques_user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="quesd_user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <resultMap id="ResultMapQuestionVo" type="com.isleqi.graduationproject.domain.vo.QuestionVo" >

    <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result column="ques_title" property="quesTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="ques_des" property="quesDes" jdbcType="VARCHAR" javaType="java.lang.String" />
  </resultMap>


  <resultMap id="ResultMapWithTag" type="com.isleqi.graduationproject.domain.vo.QuestionVo" >

      <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <result column="ques_title" property="quesTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="ques_des" property="quesDes" jdbcType="VARCHAR" javaType="java.lang.String" />
      <collection property="tagList" ofType="Tag">
        <id column="id" property="id"/>
        <result column="tag_name" property="tagName"/>
        <result column="num" property="num"/>
      </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    id, ques_title, ques_des, ques_user_id, quesd_user_id
  </sql>

  <select id="selectQuesWithTag" resultMap="ResultMapWithTag" >
        select q.id,ques_title,ques_des,t.id,tag_name,num
        from question as q,tagmap,tag as t
        where q.id=ques_id and t.id=tag_id
    </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByTagId" resultType="com.isleqi.graduationproject.domain.vo.QuestionVo" parameterType="java.lang.Integer" >
    select
     q.id as id, ques_title as quesTitle, ques_des as quesDes
    from question as q,tagmap as t
    where  q.id=ques_id and tag_id = #{tagId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.isleqi.graduationproject.domain.Question" useGeneratedKeys="true" keyProperty="id">
    insert into question (id, ques_title, ques_des, 
      ques_user_id, quesd_user_id
      )
    values (#{id,jdbcType=INTEGER}, #{quesTitle,jdbcType=VARCHAR}, #{quesDes,jdbcType=VARCHAR}, 
      #{quesUserId,jdbcType=INTEGER}, #{quesdUserId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.isleqi.graduationproject.domain.Question" useGeneratedKeys="true" keyProperty="id" >
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="quesTitle != null" >
        ques_title,
      </if>
      <if test="quesDes != null" >
        ques_des,
      </if>
      <if test="quesUserId != null" >
        ques_user_id,
      </if>
      <if test="quesdUserId != null" >
        quesd_user_id,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="quesTitle != null" >
        #{quesTitle,jdbcType=VARCHAR},
      </if>
      <if test="quesDes != null" >
        #{quesDes,jdbcType=VARCHAR},
      </if>
      <if test="quesUserId != null" >
        #{quesUserId,jdbcType=INTEGER},
      </if>
      <if test="quesdUserId != null" >
        #{quesdUserId,jdbcType=INTEGER},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.isleqi.graduationproject.domain.Question" >
    update question
    <set >
      <if test="quesTitle != null" >
        ques_title = #{quesTitle,jdbcType=VARCHAR},
      </if>
      <if test="quesDes != null" >
        ques_des = #{quesDes,jdbcType=VARCHAR},
      </if>
      <if test="quesUserId != null" >
        ques_user_id = #{quesUserId,jdbcType=INTEGER},
      </if>
      <if test="quesdUserId != null" >
        quesd_user_id = #{quesdUserId,jdbcType=INTEGER},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.isleqi.graduationproject.domain.Question" >
    update question
    set ques_title = #{quesTitle,jdbcType=VARCHAR},
      ques_des = #{quesDes,jdbcType=VARCHAR},
      ques_user_id = #{quesUserId,jdbcType=INTEGER},
      quesd_user_id = #{quesdUserId,jdbcType=INTEGER},

    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isleqi.graduationproject.domain.Question" >
    update question
    set ques_title = #{quesTitle,jdbcType=VARCHAR},
      ques_des = #{quesDes,jdbcType=VARCHAR},
      ques_user_id = #{quesUserId,jdbcType=INTEGER},
      quesd_user_id = #{quesdUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>