<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isleqi.graduationproject.dao.mappers.UserNotifyMapper" >
  <resultMap id="BaseResultMap" type="com.isleqi.graduationproject.domain.UserNotify" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="has_read" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="notify_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, has_read, user_id, notify_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_notify
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId"  resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select
    notify_id
    from user_notify
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_notify
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByUserId" parameterType="java.lang.Integer" >
    delete from user_notify
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.isleqi.graduationproject.domain.UserNotify" >
    insert into user_notify (id, has_read, user_id,
      notify_id, create_time)
    values (#{id,jdbcType=INTEGER}, #{hasRead,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
      #{notifyId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.isleqi.graduationproject.domain.UserNotify" >
    insert into user_notify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hasRead != null" >
        has_read,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="notifyId != null" >
        notify_id,
      </if>

        create_time,

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hasRead != null" >
        #{hasRead,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="notifyId != null" >
        #{notifyId,jdbcType=INTEGER},
      </if>
     now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.isleqi.graduationproject.domain.UserNotify" >
    update user_notify
    <set >
      <if test="hasRead != null" >
        has_read = #{hasRead,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="notifyId != null" >
        notify_id = #{notifyId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isleqi.graduationproject.domain.UserNotify" >
    update user_notify
    set has_read = #{hasRead,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      notify_id = #{notifyId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="hadRead" parameterType="com.isleqi.graduationproject.domain.UserNotify" >
    update user_notify
    set has_read = 1
    where user_id = #{userId} and notify_id=#{notifyId}
  </update>
  <update id="hadReadAll" parameterType="com.isleqi.graduationproject.domain.UserNotify" >
    update user_notify
    set has_read = 1
    where user_id = #{userId}
  </update>
</mapper>