<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isleqi.graduationproject.dao.mappers.UserMapper" >
  <resultMap id="BaseResultMap" type="com.isleqi.graduationproject.domain.User" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_des" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_icon_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="edit_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, user_des, user_icon_url, create_time, edit_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.isleqi.graduationproject.domain.User" >
    insert into user_info (id, user_name, user_des, 
      user_icon_url, create_time, edit_time
      )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userDes,jdbcType=VARCHAR}, 
      #{userIconUrl,jdbcType=VARCHAR},now(),now()}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.isleqi.graduationproject.domain.User" useGeneratedKeys="true" keyProperty="id" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userDes != null" >
        user_des,
      </if>
      <if test="userIconUrl != null" >
        user_icon_url,
      </if>

        create_time,

        edit_time,

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userDes != null" >
        #{userDes,jdbcType=VARCHAR},
      </if>
      <if test="userIconUrl != null" >
        #{userIconUrl,jdbcType=VARCHAR},
      </if>
      now(),
      now(),

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.isleqi.graduationproject.domain.User" >
    update user_info
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userDes != null" >
        user_des = #{userDes,jdbcType=VARCHAR},
      </if>
      <if test="userIconUrl != null" >
        user_icon_url = #{userIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        edit_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isleqi.graduationproject.domain.User" >
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      user_des = #{userDes,jdbcType=VARCHAR},
      user_icon_url = #{userIconUrl,jdbcType=VARCHAR},
      edit_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>